<div style="border: thin solid black; padding: 5px">
  <a href="index.jsp">Home</a>
  <a href="Myself.jsp">Myself</a>
  <a href="Myfamily.jsp">My Family</a>
  <a href="Mystudent.jsp">My Student</a>
</div>