body {
    height: 95vh;
}
.navbar {
    text-align: center;
    margin-top: 1.3rem;
}
.navbar > a {
    color: inherit;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.3rem;
}
.navbar > a:hover {
    text-decoration: 2px underline coral;
}
.navbar > a:visited {
    color: inherit;
}
.container {
    max-width: 60vw;
    margin: 5rem auto 0;
    text-align: center;
}
.container > .servlet-link {
    color: gray;
}
.container > .servlet-link > a, .container > .servlet-link > a:visited {
    color: inherit;
    font-size: 1.15rem;
    text-decoration: dashed underline gray;
    margin: 0 1rem;
}
.container > .servlet-link > a:hover {
    color: black;
    text-decoration: wavy underline coral;
}
ul.listbox {
    margin: 0 auto;
    max-width: 25rem;
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
}
ul.listbox > li {
    margin: 0.5rem 0;
}